<ion-header>
  <ion-toolbar>
    <ion-title>Explorar POIs</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/login" *ngIf="!isAuthenticated()">Login</ion-button>
      <ion-button routerLink="/add-poi" *ngIf="isAuthenticated()">Añadir POI</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="pois.length > 0; else noData">
    <ion-item *ngFor="let poi of pois" (click)="goToDetail(poi._id)">
      <ion-label>
        <h2>{{ poi.name }}</h2>
        <p>{{ poi.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noData>
    <ion-text color="medium">
      <p>No se encontraron POIs.</p>
    </ion-text>
  </ng-template>
</ion-content>