<ion-header>
  <ion-toolbar>
    <ion-title>Editar POI</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="poiForm" (ngSubmit)="updatePOI()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ubicación</ion-label>
      <ion-input formControlName="location"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">URL de imagen</ion-label>
      <ion-input formControlName="imageUrl"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Latitud</ion-label>
      <ion-input type="number" formControlName="lat"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Longitud</ion-label>
      <ion-input type="number" formControlName="lng"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="poiForm.invalid">Guardar cambios</ion-button>
  </form>
</ion-content>